head {
    background-color: #6d3908;
    background-image: url('../profolio/webfrontpage.jpg') -webkit-linear-gradient();
   }
   h1 {
    font-family: Apple Chancery,cursive;
  } 
  h1 {
    font-style: italic;
  }