body {
    background-color: #6d3908;
    background-image: url('webpagefront.jpg') -webkit-linear-gradient();
   }
  .header {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(207, 172, 76);
    background-color: #6d3908;
    text-align: center;
    padding: 5px;
  }
  footer {
    background-color: #6d3908;
    text-align: center;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(207, 172, 76);
  }
  ul {
    list-style-type: none;
    margin: 5;
    padding: 5px;;
  }
  li {
    display: inline;
  }
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #6d3908;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6d3908;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #6d3908;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #6d3908;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(207, 172, 76)

  }